
.homePage{
    background-image: linear-gradient(to right,rgb(255, 48, 83)
    0%,rgb(0, 238, 255) 100%);
    min-height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;

    img{
        width: 200px;
        border-radius: 4rem 0;
       

    }

    .women-img{
    border-radius: 0 4rem;
    }
    
    h1{
        font-family: monospace;
       font-style:italic;
       color: white;
      font-size: 2rem;
    
    }
    
   
    
}

