.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 3rem;
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;
      flex: 1;
  
      h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 2rem;
      }
  
      p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    }
  
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
  
      img {
        width: 300px;
        border-radius: 0.5rem;
        border: none;
        box-shadow: 0 7px 100px rgba(0, 0, 0, 0.9);
      }
    }
  }
  