.commentPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-image: linear-gradient(to right ,#CEF09D 0, #38184C 100%);
min-height: 100vh;

}